@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}
<style>
    .about{
        direction:rtl;
        color:white;
        padding:20px;
        margin-top: 10px;
    }

    h2, h4, h6, p {
        font-family: 'All Genders v4';
    } 

    .about h2{
        font-size: 35px;
    }
    .about p{
        font-weight:bold;
    }
    .about p.department{
        color: #ffc107;
    }
</style>
<div class="about">
    <h2>عن الكلية:</h2>
    <h4>إن التطور السريع والمتلاحق قي مجال العلوم والتكنولوجيا وما تبعة من تطور في الجامعات ونظم التعليم العالي بالإضافة إلى أهداف إنشاء الجامعة هم أسس وضع الرؤية المستقبلية للكلية خلال الفترة المقبلة والتي يمكن صياغتها فيما يلي:</h4>
    <h6>أن تكون كلية الحاسبات والمعلومات رائدة في التعليم العالي والبحث العلمي والخدمة المجتمعية في مجالات الحوسبة والمعلوماتية ودعم القرار والذكاء الاصطناعي على المستوى المحلى والإقليمي والدولي.</h6>
    <br>
    <h2>اقسام الكلية:</h2>
    <p class="department">
        -نظم معلومات(IS).
       <br>
        -علوم حاسب(CS).
       <br>
        -تكنولوجيا المعلومات(IT).
       <br>
        -الوسائط المتعددة(MM).
       <br>
        -بايو مديكال(BIO).
       <br>
        -هندسة البرمجيات(SW).
    </p>
    <br>
    <h2>تاريخ الكلية:</h2>
    <p>
        أنشئت كلية الحاسبات والمعلومات  بالقرار الجمهورى رقم 292لسنة 2001 وبدأت الدراسة بها فى العام الجامعى 2001/2002 فى فترة رئاسة الأستاذ الدكتور / محمد رأفت محمود ، وقد تم أنشاء مبانى كلية الحاسبات و المعلومات داخل الحرم الجامعى عام 2006 وتتكون من مبنى إدارى ومبنى خاص بالمعامل و أعضاء هيئة التدريس . مدة الدراسة بالكلية أربعة سنوات دراسية مقسمة إلى ثمان فصول دراسية بالأضافة إلى التدريب الصيفى ويدرس الطلاب دراسة موحدة خلال الفرق الثلاث الأولى ثم يختار الطالب التخصص فى الفرقة الرابعة. وقد تم حفل إفتتاح المبنى الجديد لكلية الحاسبات والمعلومات يوم الخميس الموافق 6/4/2006.
    </p>
</div>